/* Hoja de estilos de WebCentral */

/* Importamos fuentes */
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic|Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic|Ubuntu+Condensed|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Roboto+Condensed:300italic,400italic,700italic,400,700,300|Roboto+Slab:400,100,300,700);

/* Importamos la Hoja de Estilos propia de los TreeView */
@import url('treeView.css');

/* Definición de tipografías propias de WC, sin importar de otros sites */
@font-face {
    font-family: Terminus;
    src: url('Terminus.ttf');
}


/* Estilos de elementos HTML */

html { 
	/* Move down content because we have a fixed topbar */
	padding-top: 50px; 

	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
}

body { margin: 0px ; overflow-y: hidden; height: 100%; line-height: 1.231; background-color: #FFFFFF; }

body, button, textarea { 
	font-family: 'Ubuntu Mono', monospace;
	font-family: 'Ubuntu', serif;
	font-family: 'Ubuntu', sans-serif;
	color: #777777;
	font-size: 14px;
}

input, select { 
	height: auto;
	font-family: Terminus, monospace;
	padding:0;
	vertical-align:middle;
	font-size:1em;
}

table { margin: 0px; margin-left: 0px; padding: 0px; border: 0px; border-collapse: collapse; }
tr, td, th { margin: 0px; margin-left: 0px; padding: 1px; border: 0px; text-align: left; border-collapse: collapse;}


/* ESTO QUITA LOS PUNTOS DEL FORMATO/NUMERACIÓN DE LISTAS */
ul, ol, li{
	list-style: none;
}


/* CON ESTO, POR FIN, PUEDO QUITAR EL SUBRAYADO A LOS links. TAMBIEN EXISTE:
	a:VISITED
	a:HOVER
	a:ACTIVE
*/
a:link {
	text-decoration: none;
	color: #23528C; /* Azul oscuro */
	/* color: #58D3F7; /* Azul claro brillante */
}

a:visited {
	color: inherit;
}


.pie_de_pagina {
	/* Definición tipografía */
	font-size: 10px;
	color: #CCCCCC;
	background: #FFFFFF;
	vertical-align: middle;
	padding: 0px 20px 0px 20px;
	text-align: justify;
    opacity:0.80;

	
	/* Bordes de la sección */
	border: 1px solid rgb(187, 187, 187);
	margin: 20px 1% 20px -0.5%;
	
	/* Definición posición */
	position: fixed;
	bottom: 0px;
}


.pie_de_pagina:hover { 
	opacity: 1;
	color: #000000;

	-moz-transition-property: opacity, color;
	-webkit-transition-property: opacity, color;
	-o-transition-property: opacity, color;
	-moz-transition-duration: 3s, 3s;
	-webkit-transition-duration: 3s, 3s;
	-o-transition-duration: 3s, 3s;
	-moz-transition-timing-function: linear, linear;
	-webkit-transition-timing-function: linear, linear;
	-o-transition-timing-function: linear, linear;
    -moz-transition-delay: 0s, 0s; 
    -webkit-transition-delay: 0s, 0s; 
    -o-transition-delay: 0s, 0s; 
}


/* USADO PARA fieldset EN FORMULARIOS */
#enterinfo{
	border-radius: 4px;
	background: #336492;
	width: 300px;
	padding: 10pt 15pt;
	/*padding-top: 10pt;
	padding-right: 20pt;*/
	border: solid 2px blue;
	/*line-height: 30px;*/
	font-size: 80%;
	color: #FFFFFF;
	text-indent: 1px;
}


/* Estilo de bloques de código, común a todos. */

.codigo { 
	/* Definición tipografía */
	font-family: 'Ubuntu Mono', monospace;
	line-height: 14px;
	font-size: 1em;
	color: #FFFFFF;
	
	/* Color  */
	background-color: #333333;
	
	/* Borders */
	border-collapse: collapse; 
	border-spacing: 5px;
	padding: 5px 10px 5px 10px;
	border: 1px solid rgb(187, 187, 187);
	
	/* Definición posición */
	position: relative;
	margin: 20px 5% 20px 5%;
	
}




/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */
/* -------------- Definición estilo de la barra flotante superior y sus posibles clases  --------------- */
/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */


#topbar {
    position: fixed;
    font-family: "Ubuntu";
    font-size: 11px;
    /*font-variant: small-caps;*/
    
    float: left;
    z-index: 10000;
    height:auto;
    top: 3px;
    left: 10px;
    right: 10px; 
    text-align: center;
   	vertical-align: middle;
    padding:3px;
    opacity:0.90;

    /*Rounded Corners*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#topbar a {
	vertical-align: middle;
	color:#B7DDF2;
}

#topbar img {
	height: 13px;
	position: absolute;
	float: left;
	left: 5px;
}

/* Colores definidos para #topbar */

 .verde{
	border:1px solid #165E1D;
	background-color:#2B8433;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2B8433', endColorstr='#165E1D');
	background: -webkit-gradient(linear, left top, left bottom, from(#2B8433), to(#165E1D));
	background: -moz-linear-gradient(top, #2B8433, #165E1D);
	color: #FFF;
}

 .naranja{
	border:1px solid #b95f08;
	background-color:#DF6E00;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DF6E00', endColorstr='#b95f08');
	background: -webkit-gradient(linear, left top, left bottom, from(#DF6E00), to(#b95f08));
	background: -moz-linear-gradient(top, #DF6E00, #b95f08);
	color: #fff;

}

.azul{
	border:1px solid #02306a;
	background-color:#23528c;
	display: block;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#23528c', endColorstr='#02306a');
	background: -webkit-gradient(linear, left top, left bottom, from(#23528c), to(#02306a));
	background: -moz-linear-gradient(top, #23528c, #02306a);
	color: #fff;
}




/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */
/* ------------- Definición estilo para el logo y el título central de la Web en la Home  -------------- */
/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */

#logoAndTitle {
	height: 70px;
	margin-left: 0px;
	text-align: center;
	vertical-align: middle;
	position: relative;
	padding-top: 20px;
	padding-bottom: 50px;
}

#logoAndTitle h1{
	/*color: #B7DDF2;*/
	color: #23528C;
	vertical-align: middle;	
	padding-top: 10px;
	padding-bottom: 10px;
}

#logoAndTitle img{
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}

/*#logoAndTitle a:visited { color: inherit;}*/




/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */
/* ---------------------------- Definición estilo de la barra de pestañas  ----------------------------- */
/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */


#mainmenu {
	color: #23528C; /* Azul oscuro */
	padding-top: 20px;
}

#mainmenu .navbar1{
	height: 34px;
	border-bottom: 0px solid;
	margin-left: 10px;
	margin-right: 10px;
}

#mainmenu .navbar1 li{
	margin-top: 10pt;
	padding-right: 0pt;
	float: left;
}

#mainmenu .navbar1 li a{
	background-color:#B7DDF2; /* Azul claro brillante */
	margin: -1pt;
	border: 2px solid #23528C;
	
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 2pt;
	padding-bottom: 2pt;

	/*Rounded Corners*/
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;

	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
}


/* ESTILO DE CADA ENLACE AL PASAR EL PUNTERO SOBRE EL */
#mainmenu ul li a:HOVER{
	background-color: #23528C; /* Azul oscuro */
	color: #B7DDF2; /* Azul claro */
	text-shadow: 1px 1px 1px #FFF;
}

/* ESTILO DE CADA ENLACE TRAS HABER PINCHADO SOBRE EL. SIGNIFICA QUE ESTAMOS VIENDO SU SUBMENU */ 
#mainmenu ul li a#onlink{
	background-color: #EBF4FB; /* Azul claro */
	color: #23528C; /* Azul oscuro */
	border-bottom: 0px solid #EBF4FB;

	height: 100px;
	padding-top: 5pt;

	font-weight: 700;
}




/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */
/* --------------------------------- Definición estilo del WorkSpace  ---------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */


.workspace{
	border: 2px solid;
	border-color: #23528C;

	/*Rounded Corners*/
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;

	margin-top: -17px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	height: 90%;
	/* background-color: #FFF; */
	position: relative;
	overflow: auto;
}




/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------- Definición estilo de las cajas laterales  ----------------------------- */
/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */


/* Cajas situadas a la izquierda */

.leftbox{
	position: relative;
	width: 15%;
	top: 0px;
	bottom: 0px;
	left: 0;
	background-color: #EBF4FB; /* Azul claro */
	color: #23528C; /* Azul oscuro */
	padding: 5pt;
	float: left;
	font-size: 11px;
	overflow: auto;
	height: 100%;
}


/* Cajas situadas a la derecha */

.rightbox {
	position: absolute;
	width: 83.5%;
	height: 100%;
	right: 0;
	margin-right: 5px;
	
}


/*.rightbox div form fieldset{
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	width: 350pt;
	margin-left: auto;
	margin-right: auto;
	background-color: #F4FDFD;
	padding: 10pt 15pt;
	border: solid 2px #06BFDC;
	font-size: 80%;
	text-align: right;
}*/


.rightbox h3 {
	color: #23528C;
	vertical-align: middle;
	padding: 5px 0px 5px 0px;
	float: left;
	margin: auto;
}


.rightbox hr {
	position: relative;
	clear: both;
	margin: 0;
	left: 0;
	width: 50%;

}


hr.long {
	width: 100%;	
}


.rightbox p {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1em;
}


.rightbox a {
	font-size: 11px;
	color: #23528C;
	float: right;
	padding: 15px 5px 0px 5px;
	position: absolute;
	display: inline-block;
}


.rightbox a.borderBox {
	position: relative;
	padding-top: 30px;
}




/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */
/* --------------------------------- Definición estilo de Formularios  --------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */

.spacer {
	clear: both; 
	height: 5px;
}
/* ----------- My Form ----------- */
.myform {
	width: 400px; 
	padding: 14px;
	position: absolute;
}

/* ----------- stylized ----------- */
#stylized {
	border: solid 2px #B7DDF2; /* Azul claro brillante */
	color: #23528C; /* Azul oscuro */
	background: #EBF4FB; /* Azul claro */
	margin:0 auto 0 auto;
	padding-bottom: 10px;
	position: relative;
	overflow: auto;

	/*Rounded Corners*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

}
#stylized h1 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 8px;
}
#stylized p{
	font-size: 11px;
	color: #666666;
	margin-bottom: 20px;
	border-bottom: solid 1px #B7DDF2;
	padding-bottom: 10px;
}
#stylized a{
	font-size: 11px;
}
#stylized label{
	display: block;
	font-weight: bold;
	text-align: right;
	width: 140px;
	float: left;
}
#stylized .small{
	color: #666666;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	width: 140px;
}
#stylized input {
	float: left;
	font-size: 1em;
	color: #666666;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 200px;
	margin: 2px 0 20px 10px;
}

#stylized input[type="password"]{
	font:small-caption;
}

#stylized input[type="checkbox"]{
	float: left;
	display: block;
	font-size: 1em;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	margin: 2px 10px 10px 10px;
	min-width: 100px;
	width: auto;
}

#stylized input[type="submit"]{
	float: right;
	display: block;
	font-size: 90%;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	margin: 2px 10px 20px 10px;
	min-width: 100px;
	width: auto;
}

#stylized select {
	float: left;
	display: block;
	font-size: 90%;
	color: #666666;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 200px;
	margin: 2px 0 20px 10px;
}


#stylized button{
	clear: both;
	display: block;
	margin-right: 40px;
	margin-left: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
	width: 150px;
	height: 10px;
	/*background: #666666 url(../pics/grey_back.png);*/
	background: #23528C;
	background-position: 0 0;
	vertical-align: baseline;
	line-height: 1px;
	color: #FFFFFF;
	font-size: 1em;
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
	font-weight: bold;

	/*Rounded Corners*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	/*Shadow*/
	-webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);

}






/*********************************************************************************************************************************
 *********************************************************************************************************************************
 * ******* DE AQUI PARA ABAJO TODO, ABSOLUTAMENTE TODO, SERA REVISADO Y ELIMINADO CUANDO SE CONFIRME EL ESTILO DEFINITIVO ****** *
 *********************************************************************************************************************************
 *********************************************************************************************************************************/



/*********** ESTILO NO DEFINITIVO USADO PARA PROBAR QUE SERA ELIMINADO EN CUANTO ESTE EL DEFINITIVO **************

/**************************************************************************************
 **************************************************************************************
 ********** BLOQUES QUE CONTROLAN EL ESTILO GLOBAL DE LA PAGINA Y SUS MARCOS **********
 **************************************************************************************
 **************************************************************************************
* {
	width: auto;
	height: auto;
	margin-top: 0pt;
	padding: 0pt;
	font-family: verdana, sans-serif;
}

body {
	background-color: #D8D4D4;
	background-image: "./pics/backA.jpg";
	overflow: auto;
}

/* ESTO QUITA LOS PUNTOS DEL FORMATO/NUMERACION DE LISTAS *
ul,ol,li {
	list-style: none;
}

a:LINK {
	text-decoration: none;
}

/**************** TODO LO DE ARRIBA SERA ELIMINADO EN CUANTO TENGAMOS EL ESTILO DEFINITIVO ************/



/******* LO DE ABAJO SERA ELIMINADO AL IMPLANTARSE EL ESTILO DEFINITIVO ***********

#topbar {
	height: 12pt;
	padding: 3pt;
	padding-left: 0pt;
	padding-right: 7pt;
	background-color: #5387a7;
	font-family: verdana;
	font-size: 75%;
	font-style: italic;
	text-indent: 20pt;
	text-decoration: none;
	text-align: right;
}

/* ESTO LO USARE PARA INDICAR A QUE ALTURA PONDRA EL TITULO DE LA WEB EN LA PORTADA *
#logobar {
	height: 100pt;
	text-align: center;
}

****** LO DE ARRIBA SERA ELIMINADO AL IMPLANTARSE EL ESTILO DEFINITIVO *************/

/**************************************************************************************
 **************************************************************************************
 ******** BLOQUES PARA CONTROLAR EL ESTILO DE FORMULARIOS Y CAJAS(FIELDSETs) **********
 **************************************************************************************
 **************************************************************************************/
/*
#enterinfo {
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	background: #336492;
	width: 320px;
	padding: 10pt 15pt;
	border: solid 2px blue;
	line-height: 30px;
	font-size: 80%;
	text-indent: 20pt;
}
*/








/****************** LO QUE VIENE A CONTINUACION SERA BORRADO *******************/


/**************************************************************************************
 **************************************************************************************
 ************** ESTOS 3 BLOQUES CONTROLAN EL ESTILO DEL MENU DE NIVEL 1 ***************
 **************************************************************************************
 **************************************************************************************
#mainmenu .navbar1 {
	height: 26pt;
	border-bottom: 1px solid;
	margin-left: 0pt;
	margin-right: 6pt;
}

#mainmenu .navbar1 li {
	margin-top: 10pt;
	padding-right: 0pt;
	float: left;
}

#mainmenu .navbar1 li a {
	background-color: #5387a7;
	margin-right: 3pt;
	font-family: Arial;
	color: #000;
	border: 1px solid #000;
	border-bottom: none;
	padding-left: 7pt;
	padding-right: 7pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	-moz-border-radius: 3px 3px 0px 0px;
	-ms-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}

/* ESTILO DE CADA ENLACE AL PASAR EL PUNTERO SOBRE EL 
#mainmenu ul li a:HOVER {
	background-color: #69F;
	text-shadow: 1px 1px 1px #FFF;
}

/* ESTILO DE CADA ENLACE TRAS HABER PINCHADO SOBRE EL. SIGNIFICA QUE ESTAMOS VIENDO SU SUBMENU 
#mainmenu ul li a#onlink {
	background-color: #FFF;
	border-bottom: 1px solid #FFF;
}


#workspace {
	border: 1px solid;
	margin-top: -17px;
	min-height: 94%;
	background-color: #FFF;
}


/*********** LO QUE HAY ARRIBA SERA BORRADO CUANDO SE IMPLANTE DEFINITIVAMENTE EL ESTILO A PONER **************/


/**************************************************************************************
 **************************************************************************************
 ****** BLOQUES DESTINADOS A CONTROLAR EL ESTILO DE TODA LA CAJA DE LA IZQUIERDA ******
 ************** LUGAR DONDE ESTARAN LOS LINKS ESPECIFICOS DE LOS SUBMENUS *************
 **************************************************************************************
 **************************************************************************************/

/****** TODA LA PARTE DEL "#leftbox" SERA BORRADA CUANDO SE CONFIRME EL NUEVO ESTILO, PUES YA HAY UNA CLASE CON EL MISMO NOMBRE ******/

#leftbox {
	/*position: inherit;*/
	width: 10%;
	height: 92.5%;
	/*
	width: 120pt;
	height: 100%;
	*/
	background-color: #EFF5F6;
	padding: 5pt;
	float: left;
	/*position: absolute; NO HACE NADA TAL COMO ESTA AHORA MISMO LA HOJA DE ESTILOS */
}

#leftbox ul li a {
	margin-left: 0pt;
	margin-top: 0pt;
	/*font-weight: bold; PONE EL TEXTO EN NEGRITA*/
}

#leftbox ul li ul li a {
	margin-left: 10pt;
	margin-top: 0pt;
	display: none;
}

#leftbox ul li:HOVER>ul li a {
	display: block;
}

/* Este bloque controla el formato de letra usado en el #leftbox cuando el texto está en reposo */
#leftbox li a {
	font-family: Arial;
	font-size: 90%;
}

/* Este bloque controla el formato de letra cuando pasas por encima el cursor del ratón */
#leftbox a:HOVER {
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
}

/**************************************************************************************
 **************************************************************************************
 ******* BLOQUES DESTINADOS A CONTROLAR EL ESTILO DE TODA LA CAJA DE LA DERECHA *******
 *************** LUGAR DESTINADO A LA PARTE FUNCIONAL DE LA HERRAMIENTA ***************
 **************************************************************************************
 **************************************************************************************/

/****** TODA LA PARTE DEL "#rightbox" SERA BORRADA CUANDO SE CONFIRME EL NUEVO ESTILO, PUES YA HAY UNA CLASE CON EL MISMO NOMBRE ******/


#rightbox { /*display: none;*/
	
}

#rightbox * {
	margin-top: 10pt;
	/*ASI ESTABAN ANTES, LO QUE HACIA QUE DENTRO DE #rightbox TODO ESTUVIERA SEPARADO DE LOS MARGENES
	margin-right: 5pt;
	margin-left: 10pt;*/
	margin-right: 0pt;
	margin-left: 0pt;
}

/* USADO PARA TODOS LOS FORMULARIOS DEL NIVEL MAS BAJO */
#rightbox div form fieldset {
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	width: 350pt;
	margin-left: auto;
	margin-right: auto;
	background-color: #F4FDFD;
	padding: 10pt 15pt;
	border: solid 2px #06BFDC;
	font-size: 80%;
	text-align: right;
}

/* Bloque usado para los Mini-Fieldset que tienen apenas un par de elementos que poder colocar 'inline' (AdmTickets)*/
#shortcut { /*width: 220px;*/
	width: auto;
	display: inline;
	text-align: right;
	margin: 10pt;
	padding: 5pt 5pt;
	/*
	padding-top: 10pt;
	padding-left: 5pt;
	padding-right: 5pt;
	*/
}

#shortcut > a {
	font-size: 80%;
}

/*
#shortcut *{
	padding-bottom: 15pt;
}
*/

/***********************************************************************************************************************
 ********* BLOQUES PARA CONTROLAR EL FORMATO DE LOS PARRAFOS/AGRUPACIONES(span) DE SUBMENUS DENTRO DE #rightbox ********
 ***********************************************************************************************************************/
/* Este bloque controla los enlaces que aparecen a la derecha de los p�rrafos de t�tulo de #rightbox */
#rightlink { /*padding-left: 5pt;*/
	padding-right: 10pt;
	/*padding-bottom: 5pt;*/
	/*padding-top: -5pt;*/
	/*marging-bottom: 4pt;*/
}

/* Este bloque controla los t�tulos que en cada p�gina marcan internamente los p�rrafos, y que no son enlaces */
#leftmsg {
	padding-left: 10pt;
	/*padding-top: 10pt;*/
	/*padding: 10pt;*/
}

/*********************************************************************************************************************
 ********* BLOQUES PARA CONTROLAR LAS BARRAS DE TITULO DENTRO DE #rightbox (USADO DE MOMENTO SOLO EN TICKETS) ********
 *********************************************************************************************************************/
/* Este bloque controla el formato de la barra de título en sí misma */
#rightboxbar {
	height: 0pt; /* Marca la altura de la pantalla a la que empieza a pintarse la barra */
	border-bottom: 15pt solid; /* Especifica el grosor de la barra */
	border-color: #A9D0F5;
	color: #23528C; /* Azul oscuro */
	font-size: 15px;
	font-weight: bold;
	/*
	margin-left: 0pt;
	margin-right: 0pt; */
	/* Aunque lo ponga a '-2' no se acerca más a la pared de la derecha, que es lo que yo quiero */

	/*padding-right: 10pt; ESTO NO HACE NADA POR MUCHO QUE LO CAMBIE*/
}



/******************************************************************************************************************************
 ******************************************************************************************************************************
 ********* BLOQUES DESTINADOS A CONTROLAR TODO EL AREA QUE, DENTRO DE #leftbox", SITUARA LA INFORMACION DE LOS TICKETS ********
 ******************************************************************************************************************************
 ******************************************************************************************************************************/

/* Bloque que controla el área al completo donde se encuadran toda la información de los tickets (TIENE QUE SER COMO EL #workspace DE LOS TICKETS) 
Si funciona, sustituirá a "#mega"*/
#ticketworkspace {
	overflow: auto;
	/*border: red double; /* ELIMINAR LUEGO */
	/*background-color: #E9F3FD; QUITAMOS EL COLOR DE FONDO PARA QUE ASI PAREZCA ESTE Y EL DE LA PANTALLA (BLANCO) EL MISMO*/
	padding-right: 5pt;
	padding-bottom: 5pt;
	font-size: 70%;
}


/* Bloque que controla la gran caja vertical desplegable de la izquierda de "Maniticket.php" que incluye otras cajas*/
#leftsideticketgroup {
	/*border: 1px dotted;*/
	/*background-color: #EFF5F6;*/
	width: 20%;
	/*height: 92.5%;*/
	padding: 10pt;
	float: left;
	
}


/* Bloque que controla el formato de los fieldsets de "ManiTicket.php" alineados a la izquierda */
/*#maniticketleft {*/
#leftsideticket {
	border: solid 2px #B7DDF2; /* Azul claro brillante */
	color: #23528C; /* Azul oscuro */
	margin:0 auto 0 auto;
	background-color: #EBF4FB;
	text-align: right;
	padding-bottom: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}


/* Bloque que controla el formato de los fieldsets de "ManiTicket.php" alineados a la derecha */
#rightsideticket {
	border: solid 2px #B7DDF2; /* Azul claro brillante */
	color: #23528C; /* Azul oscuro */
	/*margin:0 auto 0 auto;*/
	background-color: #FFFDF2;
	/*text-align: right;*/
	/*padding-bottom: 10px;*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}


/* Bloque que controla el formato del registro de trabajo en "Maniticket.php" */
#rightsideregister {
	min-height: 30%;
	width: 500pt;
	background-color: #FFFDF2;
	padding: 6pt;
	border: inset;
}


/* Bloque que controla el formato del campo "Nuevo comentario" en "Maniticket.php" */
#rightsidecomment {
	min-height: 10%;
	/*
	max-height: 20%;
	overflow: auto;
	*/
	width: 515pt;
	background-color: #FFFDF2;
	padding: 6pt;
	border: inset;
}


/*
#stylized {
	border: solid 2px #B7DDF2; /* Azul claro brillante *
	color: #23528C; /* Azul oscuro *
	background: #EBF4FB; /* Azul claro *
	margin:0 auto 0 auto;
	padding-bottom: 10px;
	position: relative;
	overflow: auto;

	/*Rounded Corners*
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

}
#stylized h1 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 8px;
}
#stylized p{
	font-size: 11px;
	color: #666666;
	margin-bottom: 20px;
	border-bottom: solid 1px #B7DDF2;
	padding-bottom: 10px;
}
#stylized a{
	font-size: 11px;
}
#stylized label{
	display: block;
	font-weight: bold;
	text-align: right;
	width: 140px;
	float: left;
}
#stylized .small{
	color: #666666;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	width: 140px;
}
#stylized input {
	float: left;
	font-size: 1em;
	color: #666666;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 200px;
	margin: 2px 0 20px 10px;
}

#stylized input[type="password"]{
	font:small-caption;
}

#stylized input[type="checkbox"]{
	float: left;
	display: block;
	font-size: 1em;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	margin: 2px 10px 10px 10px;
	min-width: 100px;
	width: auto;
}

#stylized input[type="submit"]{
	float: right;
	display: block;
	font-size: 90%;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	margin: 2px 10px 20px 10px;
	min-width: 100px;
	width: auto;
}

#stylized select {
	float: left;
	display: block;
	font-size: 90%;
	color: #666666;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 200px;
	margin: 2px 0 20px 10px;
}


#stylized button{
	clear: both;
	display: block;
	margin-right: 40px;
	margin-left: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
	width: 150px;
	height: 10px;
	/*background: #666666 url(../pics/grey_back.png);*
	background: #23528C;
	background-position: 0 0;
	vertical-align: baseline;
	line-height: 1px;
	color: #FFFFFF;
	font-size: 1em;
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
	font-weight: bold;

	/*Rounded Corners*
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	/*Shadow*
	-webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);

}*/















/* Bloque que controla el formato de los fieldset/div de "ManiTicket.php" alineados a la derecha */
#rightsideticketgroup {
	/*position: relative;*/
	/*display: inline;*/
	/*margin-left: 5pt;*/
	/*
	padding: 10pt;
	border: solid 3px cyan;
	*/
}





/* TODO ESTO QUE VIENE A CONTINUACION SE BORRARA SI LO DE ARRIBA FUNCIONA */

/*
#meganovisible {
	padding-left: 20pt;
	border: solid 0px;
}
*/

/* Bloque que controla el área al completo donde se encuadran toda la información de los tickets (TIENE QUE SER COMO EL #workspace DE LOS TICKETS) */
/*
#mega {
	display: inline;
	font-size: 75%;
	background-color: #E9F3FD;
	padding-right: 5pt;
	padding-bottom: 5pt;
	border: solid 0px;
}
*/


/* Bloque que controla los 2 grandes bloques que intento alinear uno al lado del otro en "NewiTickets.php" */
/*
#newiticketinline {
	display: inline;
	padding-left: 5pt;
	border: solid 0px;
}
*/


/* Este bloque controla el formato de los fieldsets alineados a la izquierda */
/*
#newiticket {
	width: 200pt;
	font-size: 100%;
	background-color: #FFFDF2;
	text-align: right;
	padding-left: 8pt;
	padding-right: 8pt;
	padding-bottom: 3pt;
}
*/


/* PONIENDO EL #newiticketinline Y NO HACIENDO REFERENCIA A ESTE NI SE ENTERA DE ESTE */
#bigtext {
	display: inline;
	height: auto;
	padding-top: 0pt;
}


/* Bloque que controla los 2 grandes bloques que intento alinear uno al lado del otro en "ManiTicket.php" */
#maniticketinline {
	position: static;
	display: inline;
	padding-left: 5pt;
	border: solid 2px blue;
}


/* Este bloque controla el formato de los fieldsets de "ManiTicket.php" alineados a la derecha */
#maniticketright {
	background-color: #FFFDF2;
	padding: 6pt;
	/*border: inset;*/
	border: solid 2px yellow;
	/*
	padding-left: 8pt;
	padding-right: 8pt;
	padding-bottom: 3pt;
	*/
}

/* Bloque que controla el formato del registro de trabajo en "Maniticket.php" */
#maniregister {
	min-height: 30%;
	width: 500pt;
	background-color: #FFFDF2;
	padding: 6pt;
	border: inset;
}

/* TODO LO QUE HAY ENCIMA SE BORRARA SI LOS BLOQUES "#leftside..."  Y "#rightside..." DE ARRIBA FUNCIONAN */



/********************************************************************************************************
 ********* BLOQUES PARA CONTROLAR LOS DESPLEGABLES DEPENDIENTES DE 2 NIVELES DENTRO DE #rightbox ********
 ********************************************************************************************************/
/* Este bloque controla el 'div' que engloba ambos desplegables */
#depend2 {
	border: 1px dashed;
	width: 500px;
	height: 70px;
	/*text-align: center;*/
	/*position: center;*/
	/*marging: 40pt;*/
	/*padding: 40pt; SOLO FUNCIONA EL PADDING POR ARRIBA */
}

/*
#depend2Right, depend2Left{
	border: 1px dashed;
	width: 300px;
	background-color: #EAEAEA;
	text-align: center;
}
*/
#depend2Right {
	float: right;
}

/**************************************************************************
 ********* BLOQUES PARA CONTROLAR LOS FIELDSET DENTRO DE #rightbox ********
 **************************************************************************/
/* Este bloque controla los fieldset que incluya dentro de sí al menos un par de fieldsets */
#bi {
	border: 0pt;
	/*width: auto;*/
	/*display: inline;*/
	/*margin-left: 10pt;
	margin-right: 10pt;
	padding-left: 10pt;
	padding-bottom: 10pt;*/
}

/* Este bloque controla los elementos fieldset que haya dentro de otro fieldset con 'id="bi"' */
#bi fieldset {
	margin-left: 10pt;
}

/* Este bloque controla los fieldset centrados que tienen dentro elementos de ancho variable, 
por lo que tratamos de darles un ancho total de pantalla lo más grande posible dentro del #rightbox */
#auto0 {
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	/* width: 85% LO HE TENIDO QUE REDUCIR PARA QUE NO SE JODA EL FORMATO EN IOS*/
	width: 75%;
	/*position: relative;*/
	margin-left: auto;
	margin-right: auto;
	background-color: #F4FDFD;
	padding: 10pt 30pt;
	border: solid 2px #06BFDC;
	font-size: 80%;
	/*text-align: right;*/
	text-align: center;
}

/* Este bloque controla la posición de determinado contenido dentro de #auto0. De no existir este bloque, 
algunos elementos en #auto0 estarían muy separados unos de otros */
#invisiblerightalign {
	border: 0px;
	/* width: 25% LO HE TENIDO QUE AMPLIAR PARA QUE NO SE JODA EL FORMATO EN IOS */
	width: 35%;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}

/* Este bloque controla los fieldset centrados que están solos en la página */
#auto1 {
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	width: 380pt;
	margin-left: auto;
	margin-right: auto;
	background-color: #F4FDFD;
	padding: 10pt 30pt;
	border: solid 2px #06BFDC;
	font-size: 80%;
	text-align: right;
}

/* Este bloque controla un fieldset con formato 'auto2' */
#auto2 {
	width: 300pt;
	margin-left: auto;
	margin-right: auto;
	background-color: #F4FDFD;
	padding: 5pt 20pt;
	border: solid 2px #06BFDC;
	font-size: 80%;
	text-align: right;
}

/* Este bloque controla un fieldset con formato 'auto3' */
#auto3 {
	width: 200pt;
	margin-left: auto;
	margin-right: auto;
	background-color: #F4FDFD;
	padding: 5pt 10pt;
	border: solid 2px #06BFDC;
	font-size: 80%;
	text-align: right;
}

.autodouble { /*background-color: #D8D8D8;*/
	display: inline;
	background-color: #DFDFDF;
	/*min-width: 100pt;*/
	/*max-height: 140pt;*/
	margin-left: auto;
	margin-right: auto;
	/*padding: 0pt 10pt;*/
	padding-left: 15pt;
	padding-right: 15pt;
	padding-bottom: 5pt;
	border: solid 1px #848484;
	font-size: 80%;
	text-align: right;
}

/* Con esto puedo subir la posici�n del texto de los 'legend' de un fieldset */
.autodouble legend { /*font-size: 100%;*/
	padding-bottom: 8pt;
}

/* Con esto separo las columnas de checkbox entre s� */
.autodouble td {
	padding-left: 5pt;
	padding-right: 10pt;
	font-size: 80%;
	text-align: right;
}

/**************************************************************************************
 ********* BLOQUES PARA CONTROLAR LAS PESTA�AS DE SUBMENUS DENTRO DE #rightbox ********
 **************************************************************************************/
/* Este bloque controla la linea divisoria que hay bajo las pesta�as */
#minirightbox .navbar2 {
	height: 0pt;
	border-bottom: 19pt solid;
	/*border-color: #5387a7; Este ser�a el color de la barra #topbar, pero no lo quiero */
	/*border-color: #0489B1; Este no est� mal, probemos con uno un poco m�s claro */
	/*border-color: #01A9DB; Es que este es como demasiado... azul, probemos otro */
	/*border-color: #0174DF; me gusta menos que el anterior */
	/*border-color: #81BEF7; Este no est� mal, probemos otro por si acas */
	border-color: #A9D0F5;
	margin-left: 0pt;
	margin-right: 0pt;
	/* Aunque lo ponga a '-2' no se acerca m�s a la pared de la derecha, que es lo que yo quiero */
	/*padding-right: 10pt; ESTO NO HACE NADA POR MUCHO QUE LO CAMBIE*/
}

/* Este bloque controla la posici�n de las pesta�as */
#minirightbox .navbar2 li {
	margin-top: 2pt;
	margin-left: 2pt;
	/*padding-left: 0pt; Este no tiene ningun efecto. quitar */
	padding-right: 0pt;
	float: left;
}

/* Este bloque controla la forma, color de cada pesta�a */
#minirightbox .navbar2 li a {
	background-color: #5387a7;
	margin-right: 0pt;
	font-family: Arial;
	font-size: 11pt;
	color: #FFF; /*Este es el color de las letras. Dejarlo a negro*/
	/*border: 1px solid #000;
	border-bottom: none; Le quitar� todos los bordes*/
	border: none;
	padding-left: 7pt;
	padding-right: 7pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	-moz-border-radius: 1px 1px 1px 1px;
	-ms-border-radius: 1px 1px 1px 1px;
	border-radius: 1px 1px 1px 1px;
}

/* ESTILO DE CADA ENLACE AL PASAR EL PUNTERO SOBRE EL */
#minirightbox ul li a:HOVER {
	background-color: #A9D0F5;
	color: #000;
	text-shadow: 1px 1px 1px #FFF;
}

/* ESTILO DE CADA ENLACE TRAS HABER PINCHADO SOBRE EL. SIGNIFICA QUE ESTAMOS VIENDO SU CONTENIDO */
#minirightbox ul li a#onlink { /*background-color: #FFF;*/
	background-color: #06BFDC;
	border-bottom: 1px solid #FFF;
}

/* Bloque que permite separar el fieldset #minirightboxform de los l�mites laterales de la pantalla */
#miniphantom {
	border: none;
	padding-left: 6pt;
	padding-right: 6pt;
}

/* Bloque que permite dar un formato general a los elementos que haya dentro del fieldset de minirightbox */
#minirightboxform {
	padding-left: 3pt;
	padding-right: 3pt;
	margin-top: 0pt;
	margin-right: 3pt;
	font-size: 80%;
	line-height: 0pt;
}

#mlev2 {
	font-weight: bold;
	/*margin: 0pt;*/
	margin-top: 4pt;
	margin-bottom: 0pt;
}

/* Este bloque controla los checkbox de nivel 3 que hay  */
#mlev3 {
	padding-left: 8pt;
}

/****************************************************************
 ***** BLOQUES DESTINADOS A CONTROLAR LAS TABLAS EXISTENTES *****
 ****************************************************************/
.tabla1 {
	border: 3px solid;
	border-collapse: collapse;
	
}

.tabla1 th {
	border: 1px solid;
	padding: 5px;
	background-color: #D8D8D8;
	font-size: 80%;
}

.tabla1 td {
	border: 1px solid;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 80%;
	/*max-width: 500px;*/
}





/******************************************************************************************************
 ******************************************************************************************************
 ********** BLOQUES DESTINADOS A CONTROLAR EL FORMATO AL COMPLETO DEL CALENDARIO DESPLEGABLE **********
 ******************************************************************************************************
 ******************************************************************************************************/


#calendarDiv{
	position:absolute;
	width:205px;
	border:1px solid #317082;
	padding:1px;
	background-color: #FFF;
	font-family:arial;
	font-size:10px;
	padding-bottom:20px;
	visibility:hidden;
}
#calendarDiv span,#calendarDiv img{
	float:left;
}
#calendarDiv .selectBox,#calendarDiv .selectBoxOver{
	
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#calendarDiv .selectBoxTime,#calendarDiv .selectBoxTimeOver{	
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#calendarDiv td{
	padding:3px;
	margin:0px;
	font-size:10px;
}

#calendarDiv .selectBox{
	border:1px solid #E2EBED;		
	color: #E2EBED;
	position:relative;
}
#calendarDiv .selectBoxOver{
	border:1px solid #FFF;
	background-color: #317082;
	color: #FFF;
	position:relative;
}
#calendarDiv .selectBoxTime{
	border:1px solid #317082;		
	color: #317082;
	position:relative;
}
#calendarDiv .selectBoxTimeOver{
	border:1px solid #216072;	
	color: #216072;
	position:relative;
}

#calendarDiv .topBar{
	height:16px;
	padding:2px;
	background-color: #317082;
}

#calendarDiv .activeDay{	/* Active day in the calendar */
	color:#FF0000;
}

#calendarDiv .todaysDate{
	height:17px;
	line-height:17px;
	padding:2px;
	background-color: #E2EBED;
	text-align:center;
	position:absolute;
	bottom:0px;
	width:201px;
}

#calendarDiv .todaysDate div{
	float:left;
}
	
#calendarDiv .timeBar{
	height:17px;
	line-height:17px;
	background-color: #E2EBED;
	width:72px;
	color:#FFF;
	position:absolute;
	right:0px;
}

#calendarDiv .timeBar div{
	float:left;
	margin-right:1px;
}

#calendarDiv .monthYearPicker{
	background-color: #E2EBED;
	border:1px solid #AAAAAA;
	position:absolute;
	color: #317082;
	left:0px;
	top:15px;
	z-index:1000;
	display:none;
}

#calendarDiv #monthSelect{
	width:70px;
}

#calendarDiv .monthYearPicker div{
	float:none;
	clear:both;	
	padding:1px;
	margin:1px;	
	cursor:pointer;
}

#calendarDiv .monthYearActive{
	background-color:#317082;
	color: #E2EBED;
}

#calendarDiv td{
	text-align:right;
	cursor:pointer;
}

#calendarDiv .topBar img{
	cursor:pointer;
}

#calendarDiv .topBar div{
	float:left;
	margin-right:1px;
}






